body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #272727;
}
p {
  font-family: "Merriweather";
}

.text-center {
  font-family: "Merriweather";
}

/* Navbar */
.navbar {
  background-color: #272727;
}
.dropdown-item {
  font-size: 16px;
}

.navbar-brand img {
  max-height: 60px;
}

.navbar-toggler {
  border: 1px solid #fff;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff !important;
}

/* Carousel */
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Welcome Section */
#welcome {
  padding: 50px;
  background-color: #048e98;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0 20px 0;
}

/* About Us Section */
#aboutUs {
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px 0;
}

/* Trainings Section */

.accordion-button {
  font-size: 20px;
  font-weight: 400;
  background-color: #048e98;
  color: #fff;
  display: flex;
  justify-content: space-between; /* Align the text to the right */
  align-items: center; /* Center the text vertically */
}

.accordion-body {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Adjust padding for better spacing */
.accordion-body h3 {
  padding: 10px 0;
}

/* Alert Section */
.alert {
  margin: 20px 0;
  background-color: #f2a900;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

/* Contact Us Section */
#contactUs {
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Footer Section */
footer {
  padding: 20px 0;
  background-color: #272727;
  color: #fff;
  text-align: center;
}

/* Media Query for Carousel Height on Mobile Devices */
@media (max-width: 767px) {
  .carousel-item img {
    height: 300px;
  }
}

/* Add this to your custom.css file or within the <style> tag in the head of your HTML */
@media (max-width: 767px) {
  .map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%; /* Adjust the desired aspect ratio (height / width) for mobile view */
    height: 0;
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
